In [10]:
import pandas as pd
import numpy as np

def read(path,sep):
    datasets=pd.read_csv(path,sep=sep)
    return datasets

#def pour voir les valeur manquante "NAN"

def val_manq (data):
    val_manquante=data.isna()
    return val_manquante.sum()

# suppresion des colonnes
def delet (data,col):
    return data.drop(columns=col)

In [11]:
data_2013=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2013.csv",sep=";")
data_2014=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2014.csv",sep=";")
data_2015=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2015.csv",sep=";")
data_2016=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2016.csv",sep=";")
data_2017=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2017.csv",sep=";")
data_2018=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2018.csv",sep=";")
data_2019=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2019.csv",sep=";")
data_2020=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2020.csv",sep=";")
data_2021=read("Trafic annuel entrant par station du réseau ferré 2021.csv",sep=";")

In [12]:
#voir les valeurs manquante dans chaque colonne du datasets
val_manq(data_2013)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    113
dtype: int64

In [13]:
#supression des colonnes
col_sup=["Correspondance_2","Correspondance_3","Correspondance_4","Correspondance_5","Correspondance_1","Arrondissement pour Paris"]
data_2013=delet(data_2013,col_sup)
data_2014=delet(data_2014,col_sup)
data_2015=delet(data_2015,col_sup)
data_2017=delet(data_2017,col_sup)
data_2018=delet(data_2018,col_sup)
data_2019=delet(data_2019,col_sup)
data_2020=delet(data_2020,col_sup)
data_2021=delet(data_2021,col_sup)
col_sup16=["Correspondance_2","Correspondance_3","Correspondance_4","Correspondance_5","Correspondance_1","Arrondissement pour Paris","Column 12","Column 13","Column 14","Column 15"]
data_2016=delet(data_2016,col_sup16)

In [14]:
#   ajouter une colone année pour tout les datasets

data_2013["Année"]=2013
data_2014["Année"]=2014
data_2015["Année"]=2015
data_2016["Année"]=2016
data_2017["Année"]=2017
data_2018["Année"]=2018
data_2019["Année"]=2019
data_2020["Année"]=2020
data_2021["Année"]=2021

In [15]:
data_2015

     Rang Réseau               Station   Trafic               Ville  Année
0      71  Métro  CHATEAU DE VINCENNES  5426141           Vincennes   2015
1      81  Métro      RICHELIEU-DROUOT  5101192               Paris   2015
2     106  Métro           ROBESPIERRE  4421143           Montreuil   2015
3     107  Métro         JULES JOFFRIN  4409922               Paris   2015
4     142  Métro       ALEXANDRE DUMAS  3666961               Paris   2015
..    ...    ...                   ...      ...                 ...    ...
364   227  Métro             SOLFERINO  2342976               Paris   2015
365    23    RER        BOURG-LA-REINE  4189127      Bourg la Reine   2015
366    39    RER    BOISSY-SAINT-LEGER  2349546  Boissy-Saint-Léger   2015
367    52    RER     LE VESINET-CENTRE  1210783          Le Vésinet   2015
368    66    RER        LA HACQUINIERE   434450    Bures sur Yvette   2015

[369 rows x 6 columns]

In [16]:
#assomnler tous les datasets
data_final=np.concatenate((data_2013,data_2014,data_2015,data_2016,data_2017,data_2018,data_2019,data_2020,data_2021),axis=0)
#data_final.to_csv('data_final.csv', index=False)
#print("Fichier CSV 'data_final.csv' créé avec succès !")
print(data_final.shape)

(3325, 6)

In [17]:
# covertir le data_final en dataframe
data_final_df = pd.DataFrame(data_final, columns=data_2013.columns)
data_final_df.to_csv("data_final.csv", index=False)
print("Fichier CSV 'data_final.csv' créé avec succès !")

Fichier CSV 'data_final.csv' créé avec succès !

In [18]:
dataf=read("data_final.csv",sep=",")
dataf

      Rang Réseau             Station    Trafic               Ville  Année
0       12  Métro               OPERA  12269711               Paris   2013
1       19  Métro              NATION   9541406               Paris   2013
2       20  Métro        PALAIS-ROYAL   9385220               Paris   2013
3       39  Métro   GRANDS BOULEVARDS   7092775               Paris   2013
4       41  Métro    MAIRIE DE CLICHY   6987958              Clichy   2013
...    ...    ...                 ...       ...                 ...    ...
3320    39    RER  FONTENAY-SOUS-BOIS   2121720  Fontenay-sous-Bois   2021
3321    40    RER       SUCY-BONNEUIL   1993503        Sucy-en-Brie   2021
3322    58    RER          LE GUICHET    530706               Orsay   2021
3323    65    RER      PARC DE SCEAUX    383626              Antony   2021
3324    66    RER      LA HACQUINIERE    285626    Bures sur Yvette   2021

[3325 rows x 6 columns]