In [33]:
import pandas as pd
import numpy as np

def read(path):
    datasets=pd.read_csv(path,sep=";")
    return datasets

#def pour voir les valeur manquante "NAN"

def val_manq (data):
    val_manquante=data.isna()
    return val_manquante.sum()

# suppresion des colonnes
def delet (data,col):
    return data.drop(columns=col)

In [34]:
data_2013=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2013.csv")
print(data_2013.columns)

Index(['Rang', 'Réseau', 'Station', 'Trafic', 'Correspondance_1',
       'Correspondance_2', 'Correspondance_3', 'Correspondance_4',
       'Correspondance_5', 'Ville', 'Arrondissement pour Paris'],
      dtype='object')

In [35]:
print(data_2013.shape)

val_manq(data_2013)

(369, 11)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    113
dtype: int64

In [42]:
col_sup=["Correspondance_2","Correspondance_3","Correspondance_4","Correspondance_5","Correspondance_1","Arrondissement pour Paris"]
delet(data_2013,col_sup)

     Rang Réseau                   Station    Trafic      Ville
0      12  Métro                     OPERA  12269711      Paris
1      19  Métro                    NATION   9541406      Paris
2      20  Métro              PALAIS-ROYAL   9385220      Paris
3      39  Métro         GRANDS BOULEVARDS   7092775      Paris
4      41  Métro          MAIRIE DE CLICHY   6987958     Clichy
..    ...    ...                       ...       ...        ...
364    34    RER         LA CROIX DE BERNY   2937840     Antony
365     5  Métro             GARE DE L'EST  19989528      Paris
366    22  Métro  CHARLES DE GAULLE-ETOILE   9067635      Paris
367   154  Métro        CRETEIL-UNIVERSITE   3395813    Créteil
368    58    RER                    LOZERE    742156  Palaiseau

[369 rows x 5 columns]

In [ ]:
data_2014=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2014.csv")
data_2014

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,18,Métro,STRASBOURG-SAINT-DENIS,9967686,4,8,9,NaN,NaN,Paris,2.0
1,5,Métro,GARE DE L'EST,20284835,4,5,7,NaN,NaN,Paris,10.0
2,44,Métro,PORTE D'ORLEANS,6848088,4,NaN,NaN,NaN,NaN,Paris,14.0
3,59,Métro,CHATILLON-MONTROUGE,6109396,13,NaN,NaN,NaN,NaN,Chatillon,NaN
4,45,Métro,PONT DE NEUILLY,6823045,1,NaN,NaN,NaN,NaN,Neuilly Sur Seine,NaN
...,...,...,...,...,...,...,...,...,...,...,...
364,256,Métro,BUZENVAL,1896837,9,NaN,NaN,NaN,NaN,Paris,20.0
365,261,Métro,PORTE D'IVRY,1869444,7,NaN,NaN,NaN,NaN,Paris,13.0
366,273,Métro,PONT MARIE,1695690,7,NaN,NaN,NaN,NaN,Paris,4.0
367,39,RER,BOISSY-SAINT-LEGER,2315642,A,NaN,NaN,NaN,NaN,Boissy-Saint-Léger,NaN
368,63,RER,MASSY-VERRIERES,566720,B,NaN,NaN,NaN,NaN,Massy,NaN

In [ ]:
val_manq(data_2014)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    133
dtype: int64

In [ ]:
data_2015=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2015.csv")
data_2015

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,71,Métro,CHATEAU DE VINCENNES,5426141,1,NaN,NaN,NaN,NaN,Vincennes,NaN
1,81,Métro,RICHELIEU-DROUOT,5101192,8,9,NaN,NaN,NaN,Paris,9.0
2,106,Métro,ROBESPIERRE,4421143,9,NaN,NaN,NaN,NaN,Montreuil,NaN
3,107,Métro,JULES JOFFRIN,4409922,12,NaN,NaN,NaN,NaN,Paris,18.0
4,142,Métro,ALEXANDRE DUMAS,3666961,2,NaN,NaN,NaN,NaN,Paris,11.0
...,...,...,...,...,...,...,...,...,...,...,...
364,227,Métro,SOLFERINO,2342976,12,NaN,NaN,NaN,NaN,Paris,7.0
365,23,RER,BOURG-LA-REINE,4189127,B,NaN,NaN,NaN,NaN,Bourg la Reine,NaN
366,39,RER,BOISSY-SAINT-LEGER,2349546,A,NaN,NaN,NaN,NaN,Boissy-Saint-Léger,NaN
367,52,RER,LE VESINET-CENTRE,1210783,A,NaN,NaN,NaN,NaN,Le Vésinet,NaN
368,66,RER,LA HACQUINIERE,434450,B,NaN,NaN,NaN,NaN,Bures sur Yvette,NaN

In [ ]:
val_manq(data_2015)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    115
dtype: int64

In [ ]:
data_2016=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2016.csv")
data_2016

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris,Column 12,Column 13,Column 14,Column 15
0,3,Métro,GARE DE LYON,36352115,1,14,A,NaN,NaN,Paris,12.0,NaN,NaN,NaN,NaN
1,16,Métro,FRANKLIN D. ROOSEVELT,10899310,1,9,NaN,NaN,NaN,Paris,8.0,NaN,NaN,NaN,NaN
2,33,Métro,AUBERVILLIERS-PANTIN-QUATRE CHEMINS,7381123,7,NaN,NaN,NaN,NaN,Aubervilliers,NaN,NaN,NaN,NaN,NaN
3,49,Métro,INVALIDES,6290697,8,13,NaN,NaN,NaN,Paris,7.0,NaN,NaN,NaN,NaN
4,78,Métro,SEVRES-BABYLONE,5178469,10,12,NaN,NaN,NaN,Paris,7.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,249,Métro,NOTRE-DAME-DES-CHAMPS,2074698,12,NaN,NaN,NaN,NaN,Paris,6.0,NaN,NaN,NaN,NaN
365,300,Métro,BUTTES-CHAUMONT,521634,7bis,NaN,NaN,NaN,NaN,Paris,19.0,NaN,NaN,NaN,NaN
366,4,RER,CHATELET-LES HALLES-RER,26356131,A,B,NaN,NaN,NaN,Paris,1.0,NaN,NaN,NaN,NaN
367,9,RER,NOISY-LE-GRAND-MONT D'EST,7862183,A,NaN,NaN,NaN,NaN,Noisy-le-Grand,NaN,NaN,NaN,NaN,NaN
368,21,RER,NANTERRE-UNIVERSITE,4501642,A,NaN,NaN,NaN,NaN,Nanterre,NaN,NaN,NaN,NaN,NaN

In [ ]:
val_manq(data_2016)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    115
Column 12                    369
Column 13                    369
Column 14                    369
Column 15                    369
dtype: int64

In [ ]:
data_2017=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2017.csv")
data_2017

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,11,Métro,CHATELET,12829472,1,4,7,11.0,14.0,Paris,1.0
1,10,Métro,BASTILLE,13239442,1,5,8,NaN,NaN,Paris,12.0
2,123,Métro,ARTS ET METIERS,4026218,3,11,NaN,NaN,NaN,Paris,3.0
3,151,Métro,POISSONNIERE,3529368,7,NaN,NaN,NaN,NaN,Paris,10.0
4,108,Métro,LE KREMLIN-BICETRE,4368647,7,NaN,NaN,NaN,NaN,Kremlin-Bicêtre,NaN
...,...,...,...,...,...,...,...,...,...,...,...
364,88,Métro,PLAISANCE,4952901,13,NaN,NaN,NaN,NaN,Paris,14.0
365,160,Métro,ECOLE VETERINAIRE DE MAISONS-ALFORT,3331245,8,NaN,NaN,NaN,NaN,Maisons -Alfort,NaN
366,37,Métro,CHAUSSEE D'ANTIN-LA FAYETTE,7292728,7,9,NaN,NaN,NaN,Paris,9.0
367,38,Métro,PORTE DE VINCENNES,7246340,1,NaN,NaN,NaN,NaN,Paris,12.0
368,65,RER,PARC DE SCEAUX,576795,B,NaN,NaN,NaN,NaN,Antony,NaN

In [ ]:
val_manq(data_2017)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    115
dtype: int64

In [ ]:
data_2018=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2018.csv")
data_2018

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,29,Métro,CHARLES DE GAULLE-ETOILE,8181646,1,2,6,NaN,NaN,Paris,8.0
1,70,Métro,GALLIENI,5841623,3,NaN,NaN,NaN,NaN,Bagnolet,NaN
2,87,Métro,HOCHE,5185130,5,NaN,NaN,NaN,NaN,Pantin,NaN
3,128,Métro,CHAMPS-ELYSEES-CLEMENCEAU,4113353,1,13,NaN,NaN,NaN,Paris,8.0
4,106,Métro,ECOLE MILITAIRE,4638136,8,NaN,NaN,NaN,NaN,Paris,7.0
...,...,...,...,...,...,...,...,...,...,...,...
364,272,Métro,FILLES DU CALVAIRE,1718975,8,NaN,NaN,NaN,NaN,Paris,3.0
365,261,Métro,MABILLON,1963879,10,NaN,NaN,NaN,NaN,Paris,6.0
366,303,Métro,EGLISE D'AUTEUIL,182153,10,NaN,NaN,NaN,NaN,Paris,16.0
367,295,Métro,SAINT-FARGEAU,737146,3bis,NaN,NaN,NaN,NaN,Paris,8.0
368,9,RER,NOISY-LE-GRAND-MONT D'EST,8077756,A,NaN,NaN,NaN,NaN,Noisy-le-Grand,NaN

In [ ]:
val_manq(data_2018)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    115
dtype: int64

In [ ]:
data_2019=read("trafic-annuel-entrant-par-station-du-reseau-ferre-2019.csv")
data_2019

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,11,Métro,HOTEL DE VILLE,12307363,1,11,NaN,NaN,NaN,Paris,4.0
1,17,Métro,ESPLANADE DE LA DEFENSE,9883008,1,NaN,NaN,NaN,NaN,Puteaux,NaN
2,19,Métro,FRANKLIN D. ROOSEVELT,9545487,1,9,NaN,NaN,NaN,Paris,8.0
3,22,Métro,NATION,8834660,1,2,6,9.0,NaN,Paris,12.0
4,28,Métro,PLACE CLICHY,8020440,2,13,NaN,NaN,NaN,Paris,17.0
...,...,...,...,...,...,...,...,...,...,...,...
364,52,RER,LE VESINET-CENTRE,1380169,A,NaN,NaN,NaN,NaN,Le Vésinet,NaN
365,54,RER,PALAISEAU,1046766,B,NaN,NaN,NaN,NaN,Palaiseau,NaN
366,55,RER,PALAISEAU-VILLEBON,910971,B,NaN,NaN,NaN,NaN,Palaiseau,NaN
367,58,RER,LOZERE,778724,B,NaN,NaN,NaN,NaN,Palaiseau,NaN
368,61,RER,GIF-SUR-YVETTE,669555,B,NaN,NaN,NaN,NaN,Gif sur Yvette,NaN

In [ ]:
val_manq(data_2019)

Rang                           0
Réseau                         0
Station                        0
Trafic                         0
Correspondance_1               0
Correspondance_2             310
Correspondance_3             352
Correspondance_4             364
Correspondance_5             366
Ville                          0
Arrondissement pour Paris    115
dtype: int64